*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 16px "Lato", Helvetica, Arial, sans-serif;
  background-color: $dark;
  color: $white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
}

.error-msg,
.no-results {
  display: none;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}

.error-msg {
  background-color: $red;
}

.no-results {
  background-color: $lightGrey;
  font-size: 20px;
  color: $dark;
}

