*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 16px "Lato", Helvetica, Arial, sans-serif;
  background-color: $dark;
  color: $white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}